.input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;

  display: block;
  width: 400px;
  font-size: 20px;
  &__error {
    border-color: red;
  }

  &__feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 22px;
  font-size: 20px;
}
